@font-face {
  font-family: 'Open Sans';
  src: url('../../fonts/opensans.woff') format('woff'), url('../../fonts/opensans.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Open Sans';
  src: url('../../fonts/opensansbold.woff') format('woff'), url('../../fonts/opensansbold.woff2') format('woff2');
  font-weight: bold;
  font-style: normal;
}
.visually-hidden {
  position: absolute;
  clip: rect(0, 0, 0, 0);
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
}
.page-header {
  background-color: #ffffff;
  width: 260px;
  padding: 22px 31px 18px 30px;
  margin: 0 auto;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: end;
      justify-content: flex-end;
  /*
	@media @desktop_width {
		width: 1050px;
		padding: 0 50px;
		&__logo-img {
			width: 100%;
			height: auto;
		}
	}*/
}
.page-header__link-logo {
  margin-right: 67px;
  display: inline-block;
  vertical-align: top;
  cursor: pointer;
}
.page-header__link-logo:hover {
  opacity: 0.6;
}
.page-header__link-logo:active {
  opacity: 0.3;
}
@media (min-width: 768px) {
  .page-header {
    width: 688px;
    padding: 0 50px;
  }
  .page-header__link-logo {
    margin-right: auto;
    display: inline-block;
    vertical-align: top;
    -ms-flex-preferred-size: 113px;
        flex-basis: 113px;
    height: 46px;
    padding-top: 22px;
    padding-left: 8px;
  }
  .page-header__logo-img {
    width: 100%;
    height: auto;
  }
}
.main-nav {
  padding-top: 16px;
  /*@media @desktop_width {
		&__toggle {
			display: none;
		}
		&__list {
			display: none;
			position: absolute;
		}
	}*/
}
.main-nav__toggle {
  display: block;
  width: 20px;
  height: 2px;
  background-color: #000000;
  position: relative;
}
.main-nav__toggle::before,
.main-nav__toggle::after {
  content: "";
  display: block;
  position: absolute;
  width: 20px;
  height: 2px;
  background-color: #000000;
}
.main-nav__toggle::before {
  top: -6px;
  left: 0;
}
.main-nav__toggle::after {
  bottom: -6px;
  left: 0;
}
.main-nav__list {
  display: none;
  font-size: 17px;
  line-height: 24px;
  font-weight: bold;
  color: #000;
  font-family: 'Open Sans';
  list-style: none;
  margin: 0;
  padding: 0;
}
.main-nav__link {
  text-decoration: none;
  color: #000;
  cursor: pointer;
}
.main-nav__link:hover {
  opacity: 0.6;
}
.main-nav__link:active {
  opacity: 0.3;
}
@media (min-width: 768px) {
  .main-nav {
    -ms-flex-item-align: end;
        align-self: flex-end;
    -ms-flex-positive: 1;
        flex-grow: 1;
    position: relative;
  }
  .main-nav__toggle {
    display: none;
  }
  .main-nav__list {
    display: -ms-flexbox;
    display: flex;
    width: 334px;
    position: absolute;
    top: 34px;
    left: -111px;
    font-size: 15px;
    line-height: 24px;
    font-weight: bold;
    color: #000;
    font-family: 'Open Sans';
  }
  .main-nav__list__item {
    -ms-flex-preferred-size: 50%;
        flex-basis: 50%;
  }
}
.user-block-list {
  font-size: 17px;
  line-height: 24px;
  font-weight: bold;
  color: #000;
  font-family: 'Open Sans';
  list-style: none;
  padding: 0;
  margin: 0;
  display: none;
  /*@media @desktop_width {
		display: flex;
		flex-basis: 350px;
		justify-content: flex-end;
		padding: 37px 0px 35px;
	}*/
}
.user-block-list__item {
  position: relative;
}
.user-block-list__item:hover {
  color: rgba(0, 0, 0, 0.6);
  cursor: pointer;
}
.user-block-list__item:hover .user-block-list__icon-cart,
.user-block-list__icon-search:hover {
  fill: #63d1bb;
  fill-opacity: 1;
}
.user-block-list__item:active {
  color: rgba(0, 0, 0, 0.3);
}
.user-block-list__item:active .user-block-list__icon-cart,
.user-block-list__icon-search:active {
  fill: #63d1bb;
  fill-opacity: 0.3;
}
.user-block-list__item-search {
  font-size: 0;
}
@media (min-width: 768px) {
  .user-block-list {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-preferred-size: 358px;
        flex-basis: 358px;
    -ms-flex-pack: end;
        justify-content: flex-end;
  }
  .user-block-list__item-search {
    -ms-flex-preferred-size: 84px;
        flex-basis: 84px;
    box-sizing: border-box;
    padding: 31px 0px 33px;
    border-right: 1px solid #ececec;
    border-left: 1px solid #ececec;
  }
  .user-block-list__item-basket {
    -ms-flex-preferred-size: 274px;
        flex-basis: 274px;
    box-sizing: border-box;
    text-align: right;
    padding: 31px 10px 33px 0px;
  }
  .user-block-list__icon-cart {
    position: absolute;
    fill-opacity: 0.2;
    top: 34px;
    left: 32px;
  }
  .user-block-list__icon-search {
    position: absolute;
    fill-opacity: 0.2;
    top: 36px;
    left: 33px;
  }
}
.page-main {
  width: 320px;
  margin: 0 auto 30px;
  border-top: 1px solid #ececec;
}
.page-main__title {
  margin: 0;
  padding: 70px 30px 0;
  text-align: center;
  min-height: 212px;
  font-size: 27px;
  line-height: 30px;
  font-weight: bold;
  color: #000;
  font-family: 'Open Sans';
  background: #fafafa url('../../img/hero-mobile@1x.jpg') 50% 21% no-repeat;
}
.page-main__special-offers-list {
  display: none;
  list-style: none;
}
.goods-favorites__title {
  margin: 0 0 5px;
  padding: 0px 30px;
  font-size: 25px;
  line-height: 30px;
  font-weight: bold;
  color: #000;
  font-family: 'Open Sans';
}
.goods-favorites__important {
  display: inline-block;
  vertical-align: top;
  padding: 0px 30px;
  margin-bottom: 8px;
  font-size: 17px;
  line-height: 20px;
  font-weight: bolf;
  color: #63d1bb;
  font-family: 'Open Sans';
  text-transform: uppercase;
}
.goods-favorites::after {
  content: "";
  display: block;
  position: absolute;
  background: url('../../img/zigzag-line.svg') repeat-x;
  width: 320px;
  height: 7px;
}
.btn {
  text-decoration: none;
  font-size: 17px;
  line-height: 20px;
  font-weight: bold;
  color: #444444;
  font-family: 'Open Sans';
  text-transform: uppercase;
  display: inline-block;
  vertical-align: top;
  text-align: center;
  box-sizing: border-box;
  border: 2px solid #444444;
}
.btn-order {
  padding: 14px 0px;
  width: 100%;
  margin-bottom: 35px;
}
.btn-order:active,
.btn-write-us:active,
.btn-write-reviews:active {
  background-color: #444444;
  color: rgba(255, 255, 255, 0.3);
}
.btn-breadcrumbs {
  width: 100%;
  padding: 25px 161px 30px 29px;
  position: relative;
  border: none;
  text-align: left;
  font-size: 19px;
  line-height: 24px;
  font-weight: bold;
  color: #ffffff;
  font-family: 'Open Sans';
  text-transform: none;
}
.btn-breadcrumbs__icon {
  position: absolute;
  fill: #149080;
  fill-opacity: 0.5;
}
.btn-breadcrumbs__icon-interior {
  top: 23px;
  right: 37px;
}
.btn-breadcrumbs__icon-toy {
  top: 21px;
  right: 27px;
}
.btn-breadcrumbs:active {
  color: rgba(255, 255, 255, 0.3);
}
.btn-breadcrumbs:active .btn-breadcrumbs__icon {
  fill-opacity: 0.3;
}
.btn-interior {
  background-color: #63d1bb;
}
.btn-toy {
  background-color: #56c3b2;
  margin-bottom: 27px;
}
.btn-write-reviews {
  padding: 14px 0;
  width: 100%;
  margin-bottom: 51px;
}
.btn-write-us {
  width: 260px;
  margin-left: 29px;
  margin-right: 31px;
  margin-bottom: 10px;
  padding: 14px 0;
}
.btn-instagram,
.btn-twitter {
  padding-top: 6px;
}
.btn-instagram,
.btn-facebook,
.btn-twitter {
  font-size: 0;
  line-height: 0;
  border: none;
}
.btn-instagram:active .btn-instagram__icon,
.btn-facebook:active .btn-facebook__icon,
.btn-twitter:active .btn-twitter__icon {
  fill: #46c1ae;
  fill-opacity: 0.3;
}
.btn-instagram {
  margin-right: 37px;
}
.btn-facebook {
  margin-right: 36px;
}
.btn-copyright {
  font-size: 0;
  border: none;
  width: 100%;
  padding: 23px 38px;
}
.btn-copyright__text {
  font-size: 19px;
  line-height: 18px;
  font-weight: bold;
  color: #000;
  font-family: 'Open Sans';
  text-transform: none;
  padding-top: 5px;
  display: inline-block;
  vertical-align: top;
  margin-right: 29px;
  margin-bottom: 10px;
}
.btn-copyright__icon {
  fill: #63d1bb;
}
.goods {
  padding: 0 30px;
}
.goods__title,
.goods__description-title {
  display: none;
}
.goods__description-details {
  margin: 0 0 18px;
  padding-top: 15px;
  font-size: 15px;
  line-height: 24px;
  font-weight: normal;
  color: #000;
  font-family: 'Open Sans';
}
.goods__description-feature {
  margin-bottom: 28px;
  border-collapse: collapse;
  font-size: 15px;
  line-height: 20px;
  font-weight: normal;
  color: #000;
  font-family: 'Open Sans';
}
.goods__description-feature__cell {
  padding: 9px 0 10px;
  border-bottom: 1px solid #ececec;
}
.goods__description-feature__cell-dt {
  width: 98px;
  box-sizing: border-box;
}
.goods__description-feature__cell-dd {
  width: 162px;
  box-sizing: border-box;
}
.goods__description-price {
  display: inline-block;
  vertical-align: top;
  width: 100%;
  box-sizing: border-box;
  text-align: center;
  padding-top: 20px;
  font-size: 17px;
  line-height: 24px;
  font-weight: bold;
  color: #000;
  font-family: 'Open Sans';
  margin-bottom: 26px;
}
.advantages__title {
  margin: 0;
  padding: 34px 31px 0 29px;
  font-size: 25px;
  line-height: 30px;
  font-weight: bold;
  color: #000;
  font-family: 'Open Sans';
}
.advantages__list {
  margin: 0;
  padding: 87px 30px 0;
  list-style: none;
}
.advantages__list__item {
  font-size: 17px;
  line-height: 20px;
  font-weight: bold;
  color: #000;
  font-family: 'Open Sans';
  margin-bottom: 80px;
  padding-top: 3px;
  position: relative;
}
.advantages__list__item:last-of-type {
  margin-bottom: 54px;
}
.advantages__list__item-material {
  padding-top: 0;
}
.advantages__list__item-good-price {
  padding-top: 2px;
}
.advantages__feature-icon {
  position: absolute;
  fill: #63d1bb;
}
.advantages__feature-icon-1 {
  top: -55px;
  left: 7px;
}
.advantages__feature-icon-2 {
  top: -48px;
  left: 3px;
}
.advantages__feature-icon-3 {
  top: -51px;
  left: 0px;
}
.advantages__feature-icon-4 {
  top: -47px;
  left: -6px;
}
.advantages__feature-icon-5 {
  top: -46px;
  left: 8px;
}
.advantages__feature-icon-6 {
  top: -49px;
  left: 2px;
}
.reviews {
  position: relative;
  padding: 0px 31px 0px 29px;
  margin-bottom: 35px;
}
.reviews__title {
  margin: 0;
  margin-bottom: 10px;
  padding-top: 1px;
  font-size: 25px;
  line-height: 30px;
  font-weight: bold;
  color: #000;
  font-family: 'Open Sans';
}
.reviews__quote {
  margin: 0;
  padding-top: 14px;
  margin-bottom: 20px;
  font-size: 15px;
  line-height: 30px;
  font-weight: normal;
  color: #444444;
  font-family: 'Open Sans';
}
.reviews__author {
  padding-top: 7px;
  font-size: 17px;
  line-height: 24px;
  font-weight: bold;
  color: #000;
  font-family: 'Open Sans';
  font-style: normal;
  display: inline-block;
  vertical-align: top;
}
.reviews__link-author {
  display: inline-block;
  vertical-align: top;
  text-decoration: none;
  font-size: 17px;
  line-height: 30px;
  font-weight: normal;
  color: #444444;
  font-family: 'Open Sans';
  padding-top: 4px;
  margin-bottom: 28px;
}
.reviews__link-author:active {
  color: rgba(70, 193, 174, 0.3);
}
.reviews__prev,
.reviews__next {
  margin: 0;
  margin-right: -5px;
  margin-bottom: 38px;
  padding: 12px 0px 12px;
  background-color: transparent;
  outline: none;
  cursor: pointer;
  border: 1px solid #ececec;
  font-size: 0;
}
.reviews__prev:active,
.reviews__next:active {
  fill-opacity: 0.3;
}
.reviews__prev {
  width: 131px;
}
.reviews__next {
  width: 129px;
}
.reviews::after {
  content: "";
  display: block;
  position: absolute;
  background: url('../../img/zigzag-line.svg') repeat-x;
  width: 320px;
  height: 7px;
  left: 0;
  bottom: 0;
}
.map__details {
  border-collapse: collapse;
  width: 100%;
  margin-bottom: 33px;
}
.map__details caption {
  text-align: left;
  font-size: 18px;
  line-height: 30px;
  font-weight: bold;
  color: #000;
  font-family: 'Open Sans';
  padding: 0 31px 0 29px;
}
.map__details__item {
  font-size: 15px;
  line-height: 30px;
  font-weight: normal;
  color: #444444;
  font-family: 'Open Sans';
  vertical-align: top;
  padding-top: 26px;
  padding-bottom: 4px;
}
.map__details__item-dt {
  width: 77px;
  padding-left: 29px;
}
.map__details__item-dd {
  width: 183px;
  padding-right: 31px;
}
.map__link-details {
  text-decoration: none;
  -webkit-text-decoration-color: red;
          text-decoration-color: red;
  font-size: 15px;
  line-height: 30px;
  font-weight: normal;
  color: #444444;
  font-family: 'Open Sans';
  position: relative;
}
.map__link-details::before {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 1px;
  background-color: #62d1ba;
  bottom: -5px;
}
.map__wrapper {
  margin-bottom: 39px;
  width: 320px;
  height: 457px;
  position: relative;
}
.map__pin {
  position: absolute;
  top: 165px;
  left: 124px;
}
.page-footer {
  width: 260px;
  margin: 0 auto;
  background-color: #f1f1f1;
  padding: 0 30px;
}
.page-footer__wrapper {
  width: 100%;
  padding: 23px 61px 27px 57px;
  box-sizing: border-box;
  border-bottom: 1px solid #e5e5e5;
}
