.form-main {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	width: 320px;
	margin: 0 auto 46px;
	&__title {
		flex-basis: 100%;
		.font(27px;30px);
		background-color: #f1f1f1;
		padding: 71px 0 76px;
		margin: 0;
		margin-bottom: 21px;
		text-align: center;
		border-top: 1px solid #ececec;
	}
	&__description {
		.font(13px;24px;normal;#444);
		margin: 0 30px 24px;
	}
	&__form {
		width: 320px;
	}
	&__notice {
		margin: 0;
		margin-bottom: 31px;
		padding: 0 29px;
		.font(14px;16px;normal;#444);
	}
	@media @tablet_width {
		margin-top: -44px;
		margin-bottom: 32px;
		width: 768px;
		border-top: 1px solid #dfdfdf;
	}
	&__title {
		border-top: none;
		.font(43px;50px);
		padding: 48px 0 94px;
		position: relative;
		margin-bottom: 60px;
	}
	&__title::after {
		content: "";
		display: block;
		width: 100%;
		height: 24px;
		position: absolute;
		bottom: 0px;
		left: 0;
		background: url('../../img/bg-zigzag-fill.svg') no-repeat;
		background-size: auto 24px;
	}
	&__description {
		.font(17px;30px;normal;#444);
		margin: 0 50px 57px;
	}
	&__form {
		width: 768px;
	}
	&__wrapper {
		display: flex;
		flex-wrap: wrap;
		margin: 0 50px;
	}
	&__notice {
		flex-basis: 314px;
		.font(17px;30px;normal;#444);
		margin-left: auto;
		text-align: right;
		padding: 9px 0 0 20px;
	}
}