@keyframes scale_text {
	to {
		transform: scale(0);
	}
}
.form-initials {
	border: none;
	padding: 0;
	margin-bottom: 13px;
	&__wrapper {
		display: flex;
		flex-wrap: wrap;
	}
	&__title {
		.font(17px;16px;bold;#63d1bb);
		position: relative;
		width: 260px;
		margin: 0 30px 25px;
		padding-right: 198px;
		text-transform: uppercase;
	}
	&__title::before {
		content: "";
		display: block;
		position: absolute;
		width: 198px;
		height: 1px;
		background-color: #62d1bb;
		right: 0;
		top: 8px;
	}
	&__label {
		.inline_block();
		width: 260px;
		box-sizing: border-box;
		margin: 0 30px 0 29px;
		.font(17px;18px);
		padding: 4px 43px 12px 0px;
		position: relative;
		cursor: pointer;
	}
	&__label::before {
		display: block;
		position: absolute;
		.font(17px;18px;normal;#444);
		bottom: -22px;
		opacity: 0.3;
	}
	&__label-name::before {
		content: "Введите ваше имя*";
	}
	&__title {
		order: -6;
	}
	&__label-name {
		order: -5;
	}
	&__field-name {
		order: -4;
	}
	&__label-last-name {
		order: -3;
	}
	&__field-last-name {
		order: -2;
	}
	&__patronymic {
		order: -1;
	}
	&__label-last-name::before {
		content: "Укажите фамилию*";
	}
	&__patronymic::before {
		content: "Отчество, если желаете";
	}
	&__field {
		.inline_block();
		width: 260px;
		margin: 0 29px 18px;
		border: none;
		border-bottom: 2px solid #000;
		outline: none;
		padding-bottom: 19px;
	}
	&__field:focus + label::before {
		animation-name: scale_text;
		animation-duration: 1s;
		animation-fill-mode: forwards;
	}
}