.goods-favorites {
	&__title {
		margin: 0 0 5px;
		padding: 0px 30px;
		font-size: 25px;
		line-height: 30px;
		font-weight: bold;
		color: #000000;
		font-family: 'Open Sans';
	}
	&__important {
		display: inline-block;
		vertical-align: top;
		padding: 0px 30px;
		margin-bottom: 8px;
		font-size: 17px;
		line-height: 20px;
		font-weight: bold;
		color: #63d1bb;
		font-family: 'Open Sans';
		text-transform: uppercase;
	}
	&::after {
		content: "";
		display: block;
		position: absolute;
		background: url('../../img/zigzag-line.svg') repeat-x;
		width: 320px;
		height: 7px;
	}
}