.goods-favorites {
	&__title {
		margin: 0 0 5px;
		padding: 0px 30px;
		.font(25px;30px;bold;#000);
	}
	&__important {
		.inline_block();
		padding: 0px 30px;
		margin-bottom: 8px;
		.font(17px;20px;bolf;#63d1bb);
		text-transform: uppercase;
	}
	&::after {
		content: "";
		display: block;
		position: absolute;
		background: url('../../img/zigzag-line.svg') repeat-x;
		width: 320px;
		height: 7px;
	}
}