.goods {
	padding: 0 30px;
	&__title,
	&__description-title {
		display: none;
	}
	&__description-details {
		margin: 0 0 18px;
		padding-top: 15px;
		font-size: 15px;
		line-height: 24px;
		font-weight: normal;
		color: #444444;
		font-family: 'Open Sans';
	}
	&__description-feature {
		margin-bottom: 28px;
		border-collapse: collapse;
		font-size: 15px;
		line-height: 20px;
		font-weight: normal;
		color: #444444;
		font-family: 'Open Sans';
	}
	&__description-feature__cell {
		padding: 9px 0 10px;
		border-bottom: 1px solid #ececec;
		&-dt {
			width: 98px;
			box-sizing: border-box;
		}
		&-dd {
			width: 162px;
			box-sizing: border-box;
		}
	}
	&__description-price {
		display: inline-block;
		vertical-align: top;
		width: 100%;
		box-sizing: border-box;
		text-align: center;
		padding-top: 20px;
		font-size: 17px;
		line-height: 24px;
		font-weight: bold;
		color: #444444;
		font-family: 'Open Sans';
		margin-bottom: 26px;
	}
}