.goods {
	padding: 0 30px;
	position: relative;
	word-wrap: break-word;
	&__title,
	&__description-title {
		display: none;
	}
	&__description-details {
		margin: 0 0 18px;
		padding-top: 15px;
		.font(15px;24px;normal;#444444);
	}
	&__description-feature {
		margin-bottom: 28px;
		border-collapse: collapse;
		.font(15px;20px;normal;#444444);
	}
	&__description-feature__cell {
		padding: 9px 0 10px;
		border-bottom: 1px solid #ececec;
		&-dt {
			width: 98px;
			box-sizing: border-box;
		}
		&-dd {
			width: 162px;
			box-sizing: border-box;
		}
	}
	&__description-price {
		.inline_block();
		width: 100%;
		box-sizing: border-box;
		text-align: center;
		padding-top: 20px;
		.font(17px);
		margin-bottom: 26px;
	}
	&__order-wrapper {
		position: fixed;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		background-color: rgba(255,255,255, 0.9);
		z-index: 200;
	}
	@media @tablet_width {
		padding: 0;
		position: relative;
		&__description-details {
			margin: 0;
			padding: 0;
			padding-right: 44px;
			.font(17px;30px;normal;#444444);
			margin-bottom: 36px;
		}
		&__description-feature {
			margin-bottom: 38px;
			border-collapse: collapse;
			.font(15px;20px;normal;#444444);
		}
		& img {
			padding-top: 8px;
			position: absolute;
			top: 0;
			right: 0;
		}
		&__description-wrapper {
			position: relative;
			padding-right: 334px;
			min-height: 412px;
		}
		&__description-price {
			margin-bottom: 33px;
			padding-top: 18px;
			padding-right: 44px;
			.font(20px;24px;bold;#444444);
		}
	}
}