.main-nav {
	padding-top: 9px;
	position: relative;
	&__toggle-hide + &__list {
		display: none;
	}
	&__toggle {
		display: block;
		width: 20px;
		height: 15px;
		background: linear-gradient(to bottom, transparent 46.66%, #000 46.66%,#000 59.96%, transparent 59.96%);
		position: relative;
		cursor: pointer;
		margin-right: 1px;
	}
	&__toggle::before,
	&__toggle::after,
	&__toggle-open::before,
	&__toggle-open::after,
	 {
		content: "";
		display: block;
		position: absolute;
		width: 20px;
		height: 2px;
		background-color: #000;
	}
	&__toggle::before {
		top: 1px;
		left: 0;
	}
	&__toggle::after {
		bottom: 0px;
		left: 0;
	}
	&__toggle-open {
		display: block;
		width: 20px;
		height: 15px;
		background-color: transparent;
		position: relative;
		cursor: pointer;
		margin-right: 1px;
	}
	&__toggle-open::before,
	&__toggle-open::after {
		top: 7px;
		left: -4px;
		width: 27px;
		height: 2px;
		transform: rotate(45deg);
	}
	&__toggle-open::after {
		transform: rotate(-45deg);
	}
	&__list {
		z-index: 20;
		position: absolute;
		.font(17px);
		list-style: none;
		margin: 0;
		padding: 0;
		background-color: #fff;
		top: 57px;
		left: -270px;
		&__item {
			width: 321px;
			box-sizing: border-box;
			padding: 27px 30px 27px 75px;
			border-top: 1px solid #ececec;
		}
		&__item-span {
			padding: 27px 30px 27px 0px;
		}
		&__item span {
			padding-left: 75px;
			position: relative;
			cursor: pointer;
		}
	}
	&__icon-search,
	&__icon-cart {
		position: absolute;
		fill-opacity: 0.2;
	}
	&__icon-search {
		left: 32px;
		top: 2px;
	}
	&__icon-cart {
		top: 2px;
		left: 32px;
	}
	&__link {
		text-decoration: none;
		color: #000;
		cursor: pointer;
	}
	&__link:hover,
	&__list__item span:hover {
		color: rgba(0,0,0, 0.6);
	}
	&__link:active,
	&__list__item span:active {
		color: rgba(0,0,0, 0.3);
	}
	&__list__item span:focus {
		outline: none;
	}
	&__list__item span:hover &__icon-cart,
	&__list__item span:hover &__icon-search,
	&__icon-search:hover {
		fill: #63d1bb;
		fill-opacity: 1.0;
	}
	&__list__item span:active &__icon-cart,
	&__list__item span:active &__icon-search,
	&__icon-search:active {
		fill: #63d1bb;
		fill-opacity: 0.3;
	}
	@media @tablet_width {
		padding-top: 0;
		flex-basis: 358px;
		flex-grow: 1;
		display: flex;
		&__toggle {
			display: none;
		}
		&__toggle-hide + &__list {
			display: flex;
		}
		&__list {
			flex-basis: 100%;
			display: flex;
			justify-content: flex-end;
			flex-wrap: wrap;
			position: static; 
			.font();
			&__item-catalog,
			&__item-order {
				position: absolute;
				padding: 0;
				border: none;
			}
			&__item-catalog {
				bottom: -42px;
				left: -112px;
			}
			&__item-order {
				bottom: -42px;
				left: 57px;
			}
			&__item-basket {
				padding: 30px 0 33px;
				flex-basis: 274px;
				.font(17px;24px);
			}
			&__item-search {
				flex-basis: 84px;
				padding: 30px 0 33px;
				border-left: 1px solid #ececec;
				border-right: 1px solid #ececec;
			}
			&__item span {
				.inline_block();
				width: 100%;
				box-sizing: border-box;
				padding: 0 9px 0 0;
				text-align: right;
				position: relative;
				cursor: pointer;
			}
		}
		&__icon-cart {
			top: 3px;
			left: 32px;
		}
		&__icon-search {
			top: 3px;
			left: 33px;
		}
		&__list__item &__search {
			font-size: 0;
		}
		
	}
	@media @desktop_width {
		flex-grow: 0;
		position: static;
		&__list {
			&__item span {
				padding: 0 2px 0;
			}
			&__item-basket {
				padding: 30px 0 33px;
				flex-basis: 266px;
				.font(17px;24px);
			}
			&__item-catalog,
			&__item-order {
				position: absolute;
				top: 31px;
				.font(17px;24px);
				width: 175px;
				height: 48px;
				overflow: hidden;
			}
			&__item-catalog {
				left: 99px;
			}
			&__item-order {
				top: 31px;
				left: 320px;
			}
			&::before {
				content: "";
				display: block;
				position: absolute;
				top: 0;
				left: 284px;
				width: 1px;
				height: 100%;
				background-color: #ececec;
			}
		}
	}
}