.main-nav {
	padding-top: 9px;
	position: relative;
	&__toggle {
		display: block;
		width: 20px;
		height: 15px;
		background: linear-gradient(to bottom, transparent 46.66%, #000 46.66%,#000 59.96%, transparent 59.96%);
		position: relative;
		cursor: pointer;
		margin-right: 1px;
	}
	&__toggle::before,
	&__toggle::after,
	&__toggle-open::before,
	&__toggle-open::after,
	 {
		content: "";
		display: block;
		position: absolute;
		width: 20px;
		height: 2px;
		background-color: #000;
	}
	&__toggle::before {
		top: 1px;
		left: 0;
	}
	&__toggle::after {
		bottom: 0px;
		left: 0;
	}
	&__toggle-open {
		display: block;
		width: 20px;
		height: 15px;
		background-color: transparent;
		position: relative;
		cursor: pointer;
		margin-right: 1px;
	}
	&__toggle-open::before,
	&__toggle-open::after {
		top: 7px;
		left: -4px;
		width: 27px;
		height: 2px;
		transform: rotate(45deg);
	}
	&__toggle-open::after {
		transform: rotate(-45deg);
	}
	&__list {
		z-index: 20;
		display: none;
		position: absolute;
		.font(17px);
		list-style: none;
		margin: 0;
		padding: 0;
		background-color: #fff;
		top: 57px;
		left: -270px;
		&__item {
			width: 321px;
			box-sizing: border-box;
			padding: 27px 30px 27px 75px;
			border-top: 1px solid #ececec;
		}
		&__item-span {
			padding: 27px 30px 27px 0px;
		}
		&__item span {
			padding-left: 75px;
			position: relative;
			cursor: pointer;
		}
	}
	&__icon-search,
	&__icon-cart {
		position: absolute;
		fill-opacity: 0.2;
	}
	&__icon-search {
		left: 34px;
		top: 3px;
	}
	&__icon-cart {
		top: 2px;
		left: 32px;
	}
	&__link {
		text-decoration: none;
		color: #000;
		cursor: pointer;
	}
	&__link:hover {
		opacity: 0.6;
	}
	&__link:active,
	&__list__item span:active {
		color: rgba(0,0,0, 0.3);
	}
	&__list__item span:active {
		fill: #46c1ae;
		fill-opacity: 0.3;
	}
	@media @tablet_width {
		align-self: flex-end;
		flex-grow: 1;
		position: relative;
		&__toggle {
			display: none;
		}
		&__list {
			display: flex;
			width: 334px;
			position: absolute;
			top: 34px;
			left: -111px;
			.font();
			&__item {
				flex-basis: 50%;
			}
		}
	}
	/*@media @desktop_width {
		&__toggle {
			display: none;
		}
		&__list {
			display: none;
			position: absolute;
		}
	}*/
}