.map {
	&__details {
		border-collapse: collapse;
		width: 100%;
		margin-bottom: 33px;
	}
	&__details caption {
		text-align: left;
		.font(18px;30px);
		padding: 0 31px 0 29px;
	}
	&__details__item {
		.font(15px;30px;normal;#444444);
		vertical-align: top;
		padding-top: 26px;
		padding-bottom: 4px;
	}
	&__details__item-dt {
		width: 77px;
		padding-left: 29px;
	}
	&__details__item-dd {
		width: 183px;
		padding-right:31px
	}
	&__link-details {
		text-decoration: none;
		.font(15px;30px;normal;#444444);
		position: relative;
	}
	&__link-details::before {
		content: "";
		display: block;
		position: absolute;
		width: 100%;
		height: 1px;
		background-color: #62d1ba;
		bottom: -5px;
	}
	&__link-details:hover {
		color: #46c1ae;
	}
	&__link-details:hover::before {
		background-color: #46c1ae;
	}
	&__link-details:active {
		color: rgba(70,193,174, 0.3);
	}
	&__link-details:active::before {
		opacity: 0.1;
	}
	&__wrapper {
		margin-bottom: 39px;
		width: 320px;
		height: 457px;
		position: relative;
		background: url('../../img/map-mobile@1x.jpg');
	}
	&__pin {
		position: absolute;
		top: 165px;
		left: 124px;
	}
	&__icon-flag {
		display: none;
	}
	@media @tablet_width {
		width: 768px;
		&__details caption {
			text-align: left;
			.font(43px;50px);
			padding: 26px 0 16px 0;
			position: relative;
			margin-bottom: 33px;
		}
		&__icon-flag {
			display: block;
			position: absolute;
			bottom: 0;
			right: 0;
		}
		&__details {
			width: 668px;
			margin: 0 54px 56px 46px;
		}
		&__details-tr-email {
			position: absolute;
		}
		&__details__item-dt {
			width: 72px;
			padding: 0;
			padding-left: 4px;
			box-sizing: border-box;
		}
		&__details__item-address {
			width: 0;
			padding-left: 50%;
		}
		&__details__item-dd {
			width: 262px;
			padding: 0;
			padding-left: 9px;
			box-sizing: border-box;
		}
		&__details__item-dt,
		&__details__item-dd,
		&__link-details {
			.font(17px;30px;normal;#444444);
		}
		&__wrapper {
			width: 100%;
			margin-bottom: 56px;
		}
	}
	@media @desktop_width {
		width: 1250px;
		padding: 0 100px 0 100px;
		box-sizing: border-box;
		min-height: 490px;
		position: relative;
		&__details {
			width: 525px;
			margin: 0;
			margin-bottom: 79px;
			& caption {
				.font(53px;57px);
				padding: 104px 0 17px;
				text-align: right;
				margin-left: 62px;
				margin-right: 83px;
			}
		}
		&__icon-flag {
			display: block;
			position: absolute;
			bottom: 0;
			left: 0;
		}
		&__wrapper {
			width: 525px;
			position: absolute;
			top: 34px;
			right: 100px;
		}
		&__details-tr-email {
			position: static;
		}
		&__details__item-dt {
			padding-left: 174px;
			padding-bottom: 30px;
		}
		&__details__item-dd {
			padding-left: 10px;
		}
	}
}