.map {
	&__details {
		border-collapse: collapse;
		width: 100%;
		margin-bottom: 33px;
	}
	&__details caption {
		text-align: left;
		.font(18px;30px);
		padding: 0 31px 0 29px;
	}
	&__details__item {
		.font(15px;30px;normal;#444444);
		vertical-align: top;
		padding-top: 26px;
		padding-bottom: 4px;
	}
	&__details__item-dt {
		width: 77px;
		padding-left: 29px;
	}
	&__details__item-dd {
		width: 183px;
		padding-right:31px
	}
	&__link-details {
		text-decoration: none;
		text-decoration-color: red;
		.font(15px;30px;normal;#444444);
		position: relative;
	}
	&__link-details::before {
		content: "";
		display: block;
		position: absolute;
		width: 100%;
		height: 1px;
		background-color: #62d1ba;
		bottom: -5px;
	}
	&__link-details:active {
		color: rgba(70,193,174, 0.3);
	}
	&__link-details:active::before {
		opacity: 0.3;
	}
	&__wrapper {
		margin-bottom: 39px;
		width: 320px;
		height: 457px;
		position: relative;
		background: url('../../img/map-mobile@1x.jpg');
	}
	&__pin {
		position: absolute;
		top: 165px;
		left: 124px;
	}
	&__icon-flag {
		display: none;
	}
	@media @tablet_width {
		width: 768px;
		&__details caption {
			text-align: left;
			.font(43px;50px);
			padding-left: 46px;
			padding-top: 26px;
			padding-bottom: 16px;
			margin-right: 53px;
			position: relative;
		}
		&__icon-flag {
			display: block;
			position: absolute;
			bottom: 0;
			right: 0;
		}
		&__details tr{
			width: 300px;
		}
		&__details__item-dt,
		&__details__item-dd {
			padding: 0;
			width: 0;
		}
	}
}