.page-main {
	&__title {
		font-size: 27px;
		line-height: 30px;
		font-weight: bold;
		color: #000000;
		font-family: 'Open Sans'
	}
	&__special-offers-list {
		display: none;
		list-style: none;
	}
	&__breadcrumbs {
		list-style: none;
	}
	&__breadcrumbs__item {
		background-color: #63d1bb;
	}
	&__link {
		text-decoration: none;
	}
	&__link-breadcrumbs {
		font-size: 19px;
		line-height: 24px;
		font-weight: bold;
		color: #ffffff;
		font-family: 'Open Sans';
	}
}