.page-main {
	word-wrap: break-word;
	width: 320px;
	margin: 0 auto 30px;
	border-top: 1px solid #ececec;
	&__wrapper {
		display: flex;
		flex-wrap: wrap;
	}
	&__title {
		margin: 0;
		padding: 70px 30px 0;
		text-align: center;
		min-height: 212px;
		.font(27px;30px);
		background: #fafafa url('../../img/hero-mobile@1x.jpg') 50% 21% no-repeat;
	}
	&__special-offers-list {
		display: none;
		list-style: none;
	}
	@media @tablet_width {
		margin-top: -45px;
		position: relative;
		width: 768px;
		margin-bottom: 56px;
		&__wrapper {
			position: relative;
			background: #fafafa url('../../img/hero-desktop@1x.jpg') 50% 0% no-repeat;
			padding: 153px 50px 0;
			min-height: 404px;
			display: flex;
			flex-wrap: wrap;
			margin-bottom: 34px;
		}
		&__wrapper::after {
			content: "";
			display: block;
			width: 100%;
			height: 24px;
			position: absolute;
			bottom: 0px;
			left: 0;
			background: url('../../img/bg-zigzag-fill.svg') no-repeat;
			background-size: auto 24px;
		}
		&__title {
			flex-grow: 1;
			.font(43px;50px);
			background: none;
			padding: 0 0 373px;
			min-height: 0;
		}
		&__special-offers-list {
			margin: 0;
			padding: 0;
			display: flex;
			justify-content: flex-end;
			box-sizing: border-box;
			width: 668px;
			position: absolute;
			top: 17px;
			&__item {
				display: none;
				.font(15px;24px;normal;#444444);
			}
			&__item--thickness {
				.inline_block();
			}
		}
	}
	@media @desktop_width {
		margin-top: -55px;
		width: 1250px;
		margin-bottom: 50px;
		&__wrapper {
			border-top: 1px solid #e7e7e7;
			padding: 19px 100px 10px;
			background: #fafafa url('../../img/hero-desktop@1x.jpg') 50% 0 no-repeat;
			margin-bottom: 52px;
		}
		&__title {
			.font(53px;57px);
			flex-basis: 100%;
			padding: 134px 0 360px;
		}
		&__special-offers-list {
			order: -1;
			flex-basis: 100%;
			position: static;
			margin-bottom: 50px;
			&__item {
				.inline_block();
			}
			&__item:nth-of-type(2) {
				margin-left: 62px;
				margin-right: auto;
			}
		}
		&__link {
			.font();
			text-decoration: none;
		}
		&__link:hover {
			opacity: 0.6;
		}
		&__link:active {
			opacity: 0.3;
		}
		&__wrapper::after {
			background-repeat: repeat-x;
			background-size: auto 34px;
			height: 34px;
		}
	}
}
